/******************************************
/* ADJUSTMENTS ONLY FOR INDEX.HTML HOMEPAGE
/*******************************************/
/******************************************
/* LAYOUT
/*******************************************/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    /*background-color: #fefefe;*/
    margin: 7% auto 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid black;
    width: 45%; /* Could be more or less, depending on screen size */
}
.modal-content p {
    padding-top: 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}






/*.page-bg {
  background-image: url("../images/sc_dancing_with_mic-sm.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 734px;
  background-attachment: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  position: fixed;
  background-position: center;
}*/
header.container {
  padding: 7% 0 0 0;
  /*height: 100vh;*/
}
#scrolldowntxt {
  display: none;
}
#downbtn {
  position: absolute;
  bottom: 30px;
  height: 45px;
  width: 35px;
  text-align: center;
  margin: 0 50% 0 50%;
}
#bio.container {
  text-align: center;
  margin: 200px 0 0 0;
}
#bio img {
  width: 80%;
  opacity: 0.3;
}
#quote {
  text-align: center;
  font-size: 1.5vw;
  padding: 170px 28% 0 28%;
}
#biotxt {
  text-align: justify;
  font-size: 1.5vw;
  padding: 0 25% 0 25%;
}
/*********************************/
/*********************************/
/*AUDIO SECTION, BUY SECTION, AND MENU BUTTONS REMOVED - CSS BELOW
#buy {
  visibility: hidden;
  margin-bottom: 150px;
}
#buyimage {
  width: 35%;
  position: absolute;
  margin-left: 40%;
  /*padding-left: 10%;
}
#buy h3 {
  position: relative;
  margin-left: 45%;
  padding-top: 40px;
  color: #606161;
  font-family: 'typewriter';
  font-size: 18px;
}
#buy ul {
  position: relative;
  margin: 65px 5% 0 20%;
  z-index: 0;
/*  margin-left: 20%;
  margin-right: 5%;
}
.buymenu {
  position: relative;
  /*left: 100px;
  left: 6%;
  top: 70px;
  vertical-align: top;
  display: inline-block;
}
.buymenu div {
  display: none;
  text-align: center;
}
.buymenu a {
  display: block;
  padding-top: 10px;
  font-size: 20px;
}
#audio div {
  vertical-align: top;
  width: 45%;
  display: inline-block;
  text-align: center;
  padding-left: 6%;
}
#audio h2 {
  /*font-family: 'bebasneue';
  font-size: 23px;
  /*color: #DF7401;
  color: #000;
}
#audio p {
  font-size: 16px;
}
AUDIO SECTION, BUY SECTION, MENU BUTTONS AND CODE REMOVED - CSS ABOVE*/
/*********************************/
/*********************************/

#video.container {
  margin: 175px 0 0 0;
}
#video div {
  width: 30%;
  height: auto;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
#photos.container {
  margin: 175px 0 0 0;
}
#photos {
  text-align: center;
}
#photos img {
  max-width:40%;
  height: auto;
}
#photos p {
  font-size: 
}

/******************************************
/* MOBILE LAYOUTS
/*******************************************/

/****START page styles for 768px****/
@media screen and (max-width: 768px) {
  /*#video.container {
    margin: 175px 0 0 0;
  }*/
  
  #bio.container {
    /*margin-top: 100px;*/
  }
  #quote{
    padding: 50px 20% 0 20%;
    font-size: 2vw;
  }
  #biotxt{
    padding: 0 18% 50px 18%;
    font-size: 2vw;
  }
  #video.container{
    margin-top: 75px;
  }
  #video div {
    width: 50%;
  }
  #photos img {
    max-width:40%;
  }
}

/****START page styles for 480px****/
@media screen and (max-width: 480px) {
  #bio.container {
    margin-top: 100px;
  }
/*  #bio img {
    display: none;
  }*/
  #quote{
    padding: 50px 22% 0 22%;
    font-size: 3.5vw;
  }
  #biotxt{
    padding: 0 20% 50px 20%;
    font-size: 3.5vw;
  }
  #video.container{
    margin-top: 40px;
  }
  #video div {
    width: 65%;
  }
  #photos img {
    max-width: 70%;
  }
}