/******************************************
/* BASE STYLES
/*******************************************/

body {
  /*background-image: url("../images/sc_dancing_with_mic.jpg");*/
  background-image: url("../images/whitemic-dark.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
a {
  text-decoration: none;
  color: inherit;
}

/******************************************
/* LAYOUT
/*******************************************/
/*.page-bg {
  background-image: url("../images/sc_dancing_with_mic-sm.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 734px;
  background-attachment: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  position: fixed;
  background-position: center;
}*/
header.container {
  padding: 0 0 40px 0;
  height: 100vh;
}
#scrolldowntxt {
  display: none;
}
#downbtn {
  position: absolute;
  bottom: 30px;
  height: 45px;
  width: 35px;
  text-align: center;
  margin: 0 50% 0 50%;
}
/*#buy {
  margin-bottom: 200px;
}*/
#buy {
  margin-bottom: 150px;
}
#buyimage {
  width: 35%;
  position: absolute;
  margin-left: 40%;
  /*padding-left: 10%;*/
}
#buy h3 {
  position: relative;
  margin-left: 45%;
  padding-top: 40px;
  color: #606161;
  font-family: 'typewriter';
  font-size: 18px;
}
#buy ul {
  position: relative;
  margin: 65px 5% 0 20%;
  z-index: 0;
/*  margin-left: 20%;
  margin-right: 5%;*/
}

/*********************************/
/*REMOVED*/
.buymenu {
  position: relative;
  /*left: 100px;*/ 
  left: 6%;
  top: 70px;
  vertical-align: top;
  display: inline-block;
}
.buymenu div {
  display: none;
  text-align: center;
}
.buymenu a {
  display: block;
  padding-top: 10px;
  font-size: 20px;
}
#audio div {
  vertical-align: top;
  width: 45%;
  display: inline-block;
  text-align: center;
  padding-left: 6%;
}
#audio h2 {
  /*font-family: 'bebasneue';*/
  font-size: 23px;
  /*color: #DF7401;*/
  color: #000;
}
#audio p {
  font-size: 16px;
}
/*END REMOVED*/
/*********************************/

#video.container {
  padding-bottom: 50px;
}
#video div {
  width: 100%;
  height: 180px;
  vertical-align: top;
  /*display: inline-block;*/
  text-align: center;
  /*padding-left: 6%;*/
  margin-bottom: 150px;
}
#footer {
  position: absolute;
}
#joanflowers {
  text-align: right;
  /*margin: 0;*/
}
#joanflowers img {
  width: 180px;
  height: 220px;
  margin: 70px 80px 0 50px;
  opacity: 0.6;
}

/******************************************
/* MOBILE LAYOUTS
/*******************************************/

/*********************************/
/*START page styles for 768px*/
/*********************************/
@media screen and (max-width: 768px) {
  body {
    background-image: url("");
    /*background-color: #D9D9D9;*/
    background-color: black;
  }
  header {
    background-image: url("../images/whitemic-dark.jpg");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: cover;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    opacity: 1;
  }
  #buy.container {
    padding-top: 75px;
  }
  #buyimage {
    width: 50%;
  }
  #buy h3 {
    font-size: 16px;
  }
  #buy ul {
    margin: 30px 5% 0 10%;
  }
  .buymenu a {
    font-size: 16px;
  }
  #video.container {
    padding-top: 50px;
  }
  #video div {
    width: 100%;
    display: inline;
    /*text-align: center;*/
    /*padding-left: 6%;*/
    padding: 0;
  }
  #video iframe {
    padding: 30px 50px 0 50px;
  }
  #joanflowers {
    display: none;
  }
}

/*********************************/
/*START page styles for 480px*/
/*********************************/
@media screen and (max-width: 480px) {
body {
  background-image: url("");
  /*background-color: #D9D9D9;*/
  font-size: 18px;
}
/*  .page-bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 734px;
    background-image: url("../images/sc_dancing_with_mic-sm.jpg");
    background-position: right;
    background-repeat: no-repeat;
    z-index: -1;
  }*/
    #scrolldowntxt {
    display: none;
    position: absolute;
    width: 20px;
    bottom: 65px;
    left: 44%;
  }
/*  #buy {
    width: 100%;
    text-align: center;
  }*/
  #buy {
    margin-bottom: 0;
  }
  #buy ul {
    margin: 0 5% 0 5%;
  }
  #buy li img {
    width: 100px;
    height: auto;
  }
  #buy h3{
    font-size: 13px;
    width: 60%;
  }
  #buyimage {
    width: 60%;
    padding: 0;
  }
  .button {
    padding:14px 27px;
  }
  .buymenu {
    position: static;
    margin-top: 10px;
  }
  #audio div {
    /*vertical-align: top;*/
    width: 100%;
    /*display: inline-block;*/
    text-align: center;
    /*padding-left: 6%;*/
    padding: 0;
  }
  #audio iframe {
    padding: 50px 15px 0 15px;
  }
  #audio h2 {
    /*font-family: 'bebasneue';*/
    font-size: 22px;
    /*color: #DF7401;*/
  }
  #audio p {
    font-size: 13px;
    margin: 0 10px;
  }
  #video div {
    width: 100%;
    display: inline;
    padding: 0;
  }
  #video iframe {
    padding: 30px 15px 10px 15px;
  }
  #video iframe {
    /*height: 200px;*/
/*    margin-left: 4.5%;
    vertical-align: top;*/
  }
  
  footer li {
    margin-left: 0;
    margin-right: 0;
  }
}