/*
Project Name: Sarah Cabral
Author: Moe Shahheidari
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Linking to custom fonts */
@font-face {
    font-family: 'typewriter';
    src: url('../fonts/mariotext_iceland-webfont.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'bebasneue';
    src: url('../fonts/bebasneue.otf'); /*URL to font*/
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-image: url("../images/sc_dancing_with_mic-sm.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: cover;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  /*height: 734px;*/
  /*background-color: red;*/ /*for testing*/
  color: #606161;
  /*color: #941212;*/
  /*color: red;*/
  font-size: 22px;
  line-height: 1.4;
  font-family: 'typewriter','Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: inherit;
}
.button {
  /*background-color: #DF7401;*/
  background-color: #EBEBEA;
  padding: 20px 45px;
  border-radius: 5px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
}

/******************************************
/* MENU STYLES
/*******************************************/
.desktopmenu ul {
  /*background-color: #000;*/
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  /*color: #ACACAC;*/
}
.desktopmenu li {
  display: inline;
  margin-left: 25px;
  opacity: 1;
/*  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;*/
}
.desktopmenu li:hover {
  opacity: 0.4;
}
.fixedmenu {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.fixedmenu ul {
  background: #000;
  opacity: 0.3;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
.fixedmenu ul:hover {
  opacity: 0.6;
}
.fixedmenu li {
  color: #606161;
  font-weight: normal;
  opacity: 1;
  transition-property: opacity;
}
.mobilemenu {
  display: none;
  position: fixed;
  /*width: 100%;*/
  /*top: 0;*/
  z-index: 1;
  margin-left: 10px;
  margin-top: 7px;
}
.mobilemenu div {
  display: none;
  /*padding-top: 25px;*/
}
.mobilemenu a {
  display: block;
  padding-top: 10px;
  /*color: #ACACAC;*/
}
.mobilemenu a:hover {
  opacity: 0.4;
}
#mobilemenubtn {
  /*position: absolute;*/
  /*top: 15px; */
  /*right: 15px;*/
  border: 0;
  opacity: 0.7;
  text-indent: 200%;
  /*overflow: hidden;*/
  background: rgb(172,172,172) url("../images/hb_menu.png") center no-repeat;
  /*border: 1px solid #ddd;*/
  border-radius: 1px;
  background-size: 80%;
  width: 30px;
  height: 30px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; /*safari*/
}
.mobilemenu .expanded {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg); /*safari*/
      /*transform: skew(10deg,10deg);*/
      /*background-color: transparent;*/
      /*border: 0;*/
}

/******************************************
/* LAYOUT
/*******************************************/
/*.page-bg {
  background-image: url("../images/sc_dancing_with_mic-sm.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 734px;
  background-attachment: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  position: fixed;
  background-position: center;
}*/
.container { /* center the containers */
  width: 100%;
  margin: 0 auto;
  padding: 75px 0;
  /*min-width: 200px;*/
}
hr {
  display: none;
  margin: 10px;
  /*border-color: #606161;*/
  border-color: #E7E7E7; 
  background-color: #606161; /*firefox*/
  color: #606161; /*IE*/
}
header.container {
  padding: 0 0 40px 0;
  height: 100vh;
}
#downbtn {
  position: absolute;
  bottom: 30px;
  left: 45%;
  height: 35px;
  width: 35px;
}
#buy img {
  width: 50%;
  padding-left: 10%;
}
#buy h3{
  position: absolute;
  font-size: 20px;
  width: 35%;
  padding-top: 40px;
  padding-left: 13%;
  z-index: 0;
}
.buymenu {
  position: relative;
  /*left: 100px;*/ 
  left: 6%;
  top: 70px;
  vertical-align: top;
  display: inline-block;
}
.buymenu div {
  display: none;
  text-align: center;
}
.buymenu a {
  display: block;
  padding-top: 10px;
  font-size: 20px;
}
#audio div {
  vertical-align: top;
  width: 45%;
  display: inline-block;
  text-align: center;
  padding-left: 6%;
}
#audio h2 {
  /*font-family: 'bebasneue';*/
  font-size: 23px;
  /*color: #DF7401;*/
  color: #000;
}
#audio p {
  font-size: 16px;
}
#video iframe {
  margin-left: 4.5%;
  vertical-align: top;
}
footer.container {
  /*padding: 0 0 50px 0;*/
}
footer {
  text-align: center;
}
footer li {
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 20px;
  /*color: #DF7401;*/
  /*color: #000;*/
}
footer p {
  font-size: 13px;
}
footer img {
  margin-top: 35px;
  width: 80px;
  height: 200px;
}

/******************************************
/* MOBILE LAYOUTS
/*******************************************/

/*START contact page styles for 768px*/
@media screen and (max-width: 768px) {
  .mobilemenu {
    display: block;
  }
  .desktopmenu {
    display: none;
  }
/*  #downbtn {
    display: none;
  }*/
  #buy h3 {
    font-size: 16px;
  }
  .buymenu a {
    font-size: 16px;
  }
  #video iframe {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
/*  .page-bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 734px;
    background-image: url("../images/sc_dancing_with_mic-sm.jpg");
    background-position: right;
    background-repeat: no-repeat;
    z-index: -1;
  }*/
/*  .mobilemenu {
    display: none;
  }*/
  .desktopmenu {
    display: none;
  }
 /* #downbtn {
    display: none;
  }*/
  #buy {
    width: 100%;
    text-align: center;
  }
  #buy h3{
    font-size: 13px;
    width: 60%;
  }
  #buy img {
    width: 85%;
    padding: 0;
  }
  .button {
    padding:14px 27px;
  }
  .buymenu {
    position: static;
    margin-top: 10px;
  }
  #audio div {
    /*vertical-align: top;*/
    width: 100%;
    /*display: inline-block;*/
    text-align: center;
    /*padding-left: 6%;*/
    padding: 0;
  }
  #audio iframe {
    padding: 50px 15px 0 15px;
  }
  #audio h2 {
    /*font-family: 'bebasneue';*/
    font-size: 30px;
    /*color: #DF7401;*/
  }
  #audio p {
    font-size: 13px;
    margin: 0 10px;
  }
  #video iframe {
    height: 200px;
    /*margin-left: 4.5%;
    vertical-align: top;*/
  }
  footer li {
    font-size: 13px;
    /*display: inline-block;*/
    /*margin-left: 10px;*/
    /*margin-bottom: 20px;*/
    /*color: #DF7401;*/
  }
  footer p {
    font-size: 10px;
  }
/*END contact page styles for 768px*/

}