/*
Project Name: Sarah Cabral
Author: Moe Shahheidari
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Linking to custom fonts */
@font-face {
    font-family: 'typewriter';
    src: url('../fonts/mariotext_iceland-webfont.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'bebasneue';
    src: url('../fonts/bebasneue.otf'); /*URL to font*/
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  /*background-color: red;*/ /*for testing*/
  background-color: #000;
  color: #606161;
  font-size: 22px;
  line-height: 1.4;
  font-family: 'typewriter','Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: inherit;
}
.button {
  background-color: #507A47;
  padding: 20px 45px;
  border-radius: 5px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
}

/******************************************
/* MENU STYLES
/*******************************************/
.desktopmenu ul {
  /*background-color: #000;*/
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #ACACAC;
}
.desktopmenu li {
  display: inline;
  margin-left: 25px;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}
.desktopmenu li:hover {
  opacity: 0.4;
}
.fixedmenu {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.fixedmenu ul {
  background: #000;
}
.fixedmenu li {
  color: #606161;
  font-weight: normal;
}
.mobilemenu {
  display: none;
  position: fixed;
  /*width: 100%;*/
  /*top: 0;*/
  z-index: 1;
  margin-left: 10px;
  margin-top: 7px;
}
.mobilemenu div {
  display: none;
  /*padding-top: 25px;*/
}
.mobilemenu a {
  display: block;
  padding-top: 10px;
  color: #ACACAC;
}
#mobilemenubtn {
  /*position: absolute;*/
  /*top: 15px; */
  /*right: 15px;*/
  border: 0;
  opacity: 0.7;
  text-indent: 200%;
  /*overflow: hidden;*/
  background: rgb(172,172,172) url("../images/hb_menu.png") center no-repeat;
  /*border: 1px solid #ddd;*/
  border-radius: 1px;
  background-size: 80%;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s; /*safari*/
  transition: all 0.3s;
}
.mobilemenu .expanded {
      -webkit-transform: rotate(90deg); /*safari*/
      transform: rotate(90deg);
      /*transform: skew(10deg,10deg);*/
      /*background-color: transparent;*/
      /*border: 0;*/
}

/******************************************
/* LAYOUT
/*******************************************/

.container { /* center the containers */
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  /*min-width: 200px;*/
}
hr {
  margin: 0;
  border-color: #606161; 
  background-color: #606161; /*firefox*/
  color: #606161; /*IE*/
}
header.container {
  padding: 0;
}
header img {
  opacity: 0.4;
}
#buy img {
  width: 60%;
  padding-left: 10%;
}
#buy h3{
  position: absolute;
  font-size: 20px;
  width: 45%;
  padding-top: 40px;
  padding-left: 13%;
  z-index: 0;
}
.buymenu {
  position: relative;
  /*left: 100px;*/ 
  left: 6%;
  top: 70px;
  vertical-align: top;
  display: inline-block;
}
.buymenu div {
  display: none;
  text-align: center;
}
.buymenu a {
  display: block;
  padding-top: 10px;
  font-size: 20px;
}
#audio div {
  vertical-align: top;
  width: 45%;
  display: inline-block;
  text-align: center;
  padding-left: 6%;
}
#audio h2 {
  font-family: 'bebasneue';
  font-size: 40px;
  color: #507A47;
}
#audio p {
  font-size: 16px;
}
#video iframe {
  margin-left: 4.5%;
  vertical-align: top;
}
#shows {
  display: none;
}
footer.container {
  /*padding: 0 0 50px 0;*/
}
footer {
  text-align: center;
}
footer li {
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #507A47;
}
footer p {
  font-size: 13px;
}

/******************************************
/* CONTACT PAGE
/*******************************************/
#backlink {
  display: none;
  }
#contactheaderbg {
  position: relative;
  }
#emailimage {
  background-color: #507A47;
  float: left;
  width: 48px;
  height: 50px;
  position: absolute;
  /*top: 0;
  left: 0;*/
  top: 40%;
  left:33%;
}
#fbimage {
  background-color: #507A47;
  float: left;
  width: 48px;
  height: 50px;
  position: absolute;
  /*top: 0;
  left: 0;*/
  top: 45%;
  left:69%;
}
#emailimage:hover {
  opacity: 1;
}
#fbimage:hover {
  opacity: 1;
}

/******************************************
/* MOBILE LAYOUTS
/*******************************************/

@media screen and (max-width: 768px) {
  .mobilemenu {
    display: block;
  }
  .desktopmenu {
    display: none;
  }
  #buy h3{
    font-size: 16px;
  }
  .buymenu a {
    font-size: 16px;
  }
  #video iframe {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .mobilemenu {
    display: none;
  }
  .desktopmenu {
    display: none;
  }
  #buy h3{
    font-size: 13px;
    width: 60%;
  }
  #buy img {
    width: 100%;
    padding: 0;
  }
  .buymenu {
    width: 100%;
    text-align: center;
    position: static;
    margin-top: 10px;
    /*left: 100px;*/ 
    /*left: 6%;*/
    /*top: 70px;*/
    /*vertical-align: top;*/
    /*display: inline-block;*/
  }
  #audio div {
    /*vertical-align: top;*/
    width: 100%;
    /*display: inline-block;*/
    text-align: center;
    /*padding-left: 6%;*/
    padding: 0;
  }
  #audio iframe {
    padding: 20px 15px 0 15px;
  }
  #audio h2 {
    font-family: 'bebasneue';
    font-size: 30px;
    color: #507A47;
  }
  #audio p {
    font-size: 13px;
    margin: 0 10px;
  }
  #video iframe {
    height: 200px;
    /*margin-left: 4.5%;
    vertical-align: top;*/
  }
  footer li {
    font-size: 13px;
    /*display: inline-block;*/
    /*margin-left: 10px;*/
    /*margin-bottom: 20px;*/
    /*color: #507A47;*/
  }
  footer p {
    font-size: 10px;
  }

/*START contact page styles for 480px*/
  #backlink {
    display: block;
    position: absolute;
    font-size: 13px;
    color: #507A47;
    z-index: 10;
    opacity: 0.7;
    top: 10px;
    left: 10px;
  }
  #backlink:hover {
    opacity: 1;
  }
  #emailimage {
  background-color: #507A47;
  width: 33px;
  height: 35px;
  top: 15%;
  left:32%;
  }
  #fbimage {
    background-color: #507A47;
    width: 31px;
    height: 33px;
    top: 20%;
    left:60%;
  }
/*END contact page styles for 480px*/

}