/*
Project Name: Sarah Cabral
Author: Moe Shahheidari
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Linking to custom fonts */
@font-face {
    font-family: 'typewriter';
    src: url('../fonts/mariotext_iceland-webfont.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'bebasneue';
    src: url('../fonts/bebasneue.otf'); /*URL to font*/
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  /*height: 734px;*/
  /*background-color: red;*/ /*for testing*/
  /*color: #606161;*/
  color: white;
  /*color: #941212;*/
  /*color: red;*/
  font-size: 28px;
  line-height: 1.4;
  font-family: 'bebasneue','typewriter','Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: inherit;
}
.button {
  /*background-color: #DF7401;*/
  background-color: #EBEBEA;
  padding: 20px 45px;
  border-radius: 5px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
}

/******************************************
/* MENU STYLES
/*******************************************/
.desktopmenu ul {
  /*background-color: #000;*/
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  /*color: #ACACAC;*/
}
.desktopmenu li {
  display: inline;
  margin-left: 25px;
  opacity: 1;
/*  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;*/
}
.desktopmenu li:hover {
  opacity: 0.02;
}
.fixedmenu {
  position: fixed;
  width: 100%;
  z-index: 10;
  opacity: 0.3;
}
.fixedmenu ul {
  background: black;
  /*opacity: 0.3;*/
/*  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;*/
}
/*.fixedmenu ul:hover {
  opacity: 0.2;
}*/
.fixedmenu li {
  /*color: #606161;*/
  /*font-weight: normal;*/
  opacity: 1;
/*  transition-property: opacity;*/
}
.mobilemenu {
  display: none;
  position: fixed;
  /*width: 100%;*/
  /*top: 0;*/
  z-index: 1;
  /*margin-left: 10px;*/
  margin-top: 7px;
  width: 100%;
  text-align: center;
}
.mobilemenu div {
  display: none;
  /*padding-top: 25px;*/
}
.mobilemenu a {
  display: block;
  background-color: black;
  padding-bottom: 20px;
  padding-top: 10px;
  opacity: 0.3;
  /*color: #ACACAC;*/
}
.mobilemenu a:hover {
  /*opacity: 0.4;*/
  color: #2E2E2E;
}
#mobilemenubtn {
  /*position: absolute;*/
  /*top: 15px; */
  /*right: 15px;*/
  border: 0;
  opacity: 0.7;
  text-indent: 200%;
  /*overflow: hidden;*/
  background: rgb(172,172,172) url("../images/hb_menu.png") center no-repeat;
  /*border: 1px solid #ddd;*/
  border-radius: 1px;
  background-size: 80%;
  width: 30px;
  height: 30px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; /*safari*/
}
.mobilemenu .expanded {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg); /*safari*/
      /*transform: skew(10deg,10deg);*/
      /*background-color: transparent;*/
      /*border: 0;*/
}

/******************************************
/* LAYOUT
/*******************************************/
/*.page-bg {
  background-image: url("../images/sc_dancing_with_mic-sm.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 734px;
  background-attachment: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  position: fixed;
  background-position: center;
}*/
.container { /* center the containers */
  width: 100%;
  margin: 0 auto;
  padding: 150px 0;
  /*min-width: 200px;*/
}
hr {
  display: none;
  margin: 10px;
  /*border-color: #606161;*/
  border-color: #E7E7E7; 
  background-color: #606161; /*firefox*/
  color: #606161; /*IE*/
}
footer.container {
  padding: 40px 0 0 0;
}
footer {
  text-align: center;
  opacity: 0.3;
}
footer ul {
  border: 5px solid black;
  background-color: black;
}
footer li {
  font-size: 20px;
  display: inline;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  /*color: #DF7401;*/
  /*color: #000;*/
}
footer p {
  font-size: 14px;
  margin-top: 70px;
  margin-bottom: 30px;
}
footer img {
  margin-top: 0;
  width: 150px;
  height: 310px;
}

/******************************************
/* MOBILE LAYOUTS
/*******************************************/

/*START page styles for 768px*/
@media screen and (max-width: 768px) {
  .mobilemenu {
    display: block;
  }
  .desktopmenu {
    display: none;
  }
}

/*START page styles for 480px*/
@media screen and (max-width: 480px) {
/*  .desktopmenu {
    display: none;
  }*/
  #mobilemenubtn {
    width: 25px;
    height: 25px;
  }
  footer li {
    font-size: 13px;
    display: list-item;
    /*margin-left: 10px;*/
    /*margin-bottom: 20px;*/
    /*color: #000;*/
  }
  footer p {
    font-size: 8px;
  }
  footer img {
    width: 105px;
    height: 217px;
  }

}